/* 공통 스타일 */
.service-guide-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 30px;
    background: #fefefe;
    text-align: left;
    font-family: 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕', sans-serif;
}

.service-guide-header {
    text-align: left; /* 왼쪽 정렬 */
    margin-bottom: 70px;
}

.service-guide-header h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.service-guide-header p {
    font-size: 1.1em;
    color: #777;
    line-height: 1.5;
}

.service-guide-section {
    margin-bottom: 30px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service-guide-section:nth-child(even) {
    background: #f0f0f0; /* 짝수 섹션 회색 배경 */
}

.service-guide-section:nth-child(odd) {
    background: #ffffff; /* 홀수 섹션 흰색 배경 */
}

.service-guide-section h2 {
    color: #4a4a4a;
    border-bottom: 2px solid #616161;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.service-guide-section h3 {
    color: #6f6f6f;
    font-weight: bold;
}

.service-guide-section p {
    font-size: 16px;
}

.service-guide-section ul {
    list-style-type: disc;
}

.service-guide-section ul ul {
    list-style-type: circle;
}

.service-guide-footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #888;
}

.task-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.task-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-card h3 {
    margin-bottom: 10px;
    font-size: 19px;
    color: #333;
}

.task-card p {
    font-size: 16px;
    color: #555;
}
